.primary-btn {
  margin-left: auto;
}
.primary-btn button {
  padding: 10px 20px;
  font-size: 13px;
  background-color: #2874f0;
  color: #FFFFFF;
  border: none;
  outline: none;
}

.green {
  font-size: 12px;
  color: #388E3C;
  font-weight: bold;
}

.sub-header {
  height: 114px;
  border-bottom: 1px solid lightgray;
}
.sub-header .boxes {
  display: flex;
  margin: 0 6%;
  justify-content: space-evenly;
}
.sub-header .boxes .box {
  height: 114px;
}
.sub-header .boxes .box .img {
  height: 80px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.sub-header .boxes .box .img .link {
  text-decoration: none;
}
.sub-header .boxes .box .img .link:hover > h5 {
  color: #2874f0;
}
.sub-header .boxes .box .img .link img {
  height: 100%;
  padding: 8px 12px 0px;
}
.sub-header .boxes .box .img .link h5 {
  color: #6b6969;
  font-weight: bold;
  font-size: 14px;
}